@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.active {
    color: white;
    background-color: black;
    padding: 8px;
    border-radius: 8px;
}

.detail {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

.detail img {
    width: 400px;
    border-radius: 8px;
}

.detail .info {
    padding: 0px 10px;
}

.detail .info h2 {
    font-size: 35px;
}

.detail .info p {
    font-size: 15px;
    line-height: 1.3;
    font-weight: 300;
    margin: 5px 0px 10px 0px;
}

.detail .info h3 {
    font-size: 22px;
}
